html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
  background-color: whitesmoke;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('Eugenides.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding: 0;
  margin: 0;
}

.main {
  max-width: 800px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
}

@media screen and (min-width: 820px) {
  .main {
    margin: 10px auto;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-size: auto;
    background-position-x: left;
    position: relative;
  }

  .main {
    max-width: 50vw;
    position: absolute;
    right: 0;
    margin: 0;
  }
}

.title {
  margin-top: 0;
  text-align: center;
  font-size: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-field input,
select {
  font-size: 0.875rem;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid darkgray;
}

fieldset {
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid darkgray;
}

.textarea {
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid darkgray;
  height: 5em;
  background-color: whitesmoke;
  font-size: 0.875rem;
  padding: 10px;
}

.last {
  margin-bottom: 0;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75em 2em;
  border-radius: 5px;
  border: 2px solid darkgray;
  background-color:lightgreen;
}